
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-left-dir:before { content: '\e805'; } /* '' */
.icon-right-dir:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-group-circled:before { content: '\e809'; } /* '' */
.icon-group:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-location-1:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-calendar-weekly:before { content: '\e80f'; } /* '' */
.icon-bath:before { content: '\e810'; } /* '' */
.icon-home-button:before { content: '\e811'; } /* '' */
.icon-house-with-chimney-(1):before { content: '\e812'; } /* '' */
.icon-king-size-bed-(1):before { content: '\e813'; } /* '' */
.icon-map-placeholder-(1):before { content: '\e814'; } /* '' */
.icon-paper-plane-(2):before { content: '\e815'; } /* '' */
.icon-star-(2):before { content: '\e816'; } /* '' */
.icon-user-(7):before { content: '\e817'; } /* '' */
.icon-left-small:before { content: '\e818'; } /* '' */
.icon-right-small:before { content: '\e819'; } /* '' */
.icon-left-open-big:before { content: '\e81a'; } /* '' */
.icon-right-open-big:before { content: '\e81b'; } /* '' */
.icon-arrows-cw:before { content: '\e81c'; } /* '' */
.icon-left-open-mini:before { content: '\e81d'; } /* '' */
.icon-right-open-mini:before { content: '\e81e'; } /* '' */
.icon-up-open-mini:before { content: '\e81f'; } /* '' */
.icon-down-open:before { content: '\e820'; } /* '' */
.icon-globe:before { content: '\e821'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */